In [4]:
import pandas as pd

df1 = pd.read_csv("Merged_Planets_dwarfs.csv")
df1 = df1.dropna()
del df1["Luminosity"]
df1

,Unnamed: 0.1,Unnamed: 0,Star_name,Distance,Mass,Radius,name,radius,mass,distance
0,0,0,Sun,0.000015813,1,1,SDSS J000013.54+255418.6 [de],46.1,48.0,0.99
1,1,1,Sirius,0008.6,2.1,1.71,2MASS J00040288-6410358,192.0,19.0,1.63
2,2,3,Alpha Centauri,0004.4,1.1,1.2,2MASS J00242463-0158201,37.7,79.0,1.09
3,3,5,Vega,0025,2.2,2.7,2MASS J00274197+0503417,236.0,31.0,1.44
4,4,7,Rigel,0860,23,78.9,2MASSW J0030300-145033,87.2,54.0,0.98
...,...,...,...,...,...,...,...,...,...,...
72,72,93,WOH G64,"0163,000",<20,"1,540 - 1,730",2MASSI J0937347+293142,20.0,42.0,0.94
73,73,94,TRAPPIST-1,039.6,0.089,0.12,2MASS 0939−2448,17.4,32.0,0.95
74,74,95,2MASS J0523-1403,040.3,0.07,0.086,2MASS J09490860-1545485 [de],59.0,49.0,0.96
75,75,96,WISE 0855−0714,07.27,0.003,?,2MASS J10073369-4555147,46.0,44.0,0.94
76,76,97,Icarus,"014,400,000,000",33,?,2MASSI J1010148-040649 [de],55.0,51.0,0.98